#title, #subtitle {
    color: #551;
}

#title.verified, #subtitle.verified {
    color: #aa6;
}

#psw-enter {
    margin: 12px;
}

#ipt-passcode {
    width: 100%;
}

#ipt-passcode:focus {
    border-color: #999;
}

#message-disp {
    color: red;
    font-weight: 100;
}

hr {
    margin: 1em;
}

.accept-button {
    float: right;
    color: #9d8;
    padding-left: 0.3em;
}
.reject-button {
    float: right;
    color: #eaa;
    padding-left: 0.3em;
}
.reject-ask {
    padding: 0.5em;
    font-size: 0.8em;
    font-weight: 100;
}
.reject-reason-shortcut {
    color: #66f;
}
