* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    font: 24px 'Comfortaa', Helvetica, Arial; margin: 12px;
}

h2 {
    font-weight: 400;
}

button {
    border: 1px solid black;
    border-style: solid;
    border-radius: 2px;
    background: #ccc;
    font: 24px 'Comfortaa', Helevetica, Arial;
    padding: 0.3em;
    margin-top: 0.3em;
}
button:focus, button:hover {
    background: #ddd;
}
button:active {
    background: #aaa;
}
button.highlight {
    background: #fc6;
}
button.highlight:focus, button.highlight:hover {
    background: #fd8;
}
button.highlight:active {
    background: #b95;
}
button.small {
    padding: 1px;
}

input {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #ccc;
    background: transparent;
    font: 1.5em 'Comfortaa', Helvetica, Arial;
}

.light {
    font-weight: 100;
}

.invisible {
    display: none;
}
.hidden {
    visibility: hidden;
}

.cmt-list-container {
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
    font-size: 1.5em;
}
.cmt-list-container li {
    padding: 5px 10px;
    background-color: #eee;
}
.cmt-list-container li:nth-child(odd) {
    background-color: #f8f8f8;
}
.cmt-list-container li.past-accepted {
    background-color: #dfd;
    color: #686;
}
.cmt-list-container li.past-rejected {
    background-color: #fdd;
    color: #866;
}
.cmt-list-container li.dark {
    background-color: #333;
    color: #f8f8f8;
}
.cmt-list-container li.dark:nth-child(odd) {
    background-color: #444;
}
.cmt-list-container li.past-accepted.dark {
    background-color: #686;
    color: #dfd;
}
.cmt-list-container li.past-rejected.dark {
    background-color: #866;
    color: #fdd;
}
.cmt-type-icon {
    margin: 0px 0.5em;
    float: left;
}
